<footer class="site-footer">
  <div class="wrapper">

    <h2>Contact</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Marc A. Kastner</li>
          <li><a href="mailto:mkastner@hiroshima-cu.ac.jp">mkastner@hiroshima-cu.ac.jp</a></li>
          <li>Hiroshima City University</li>
        </ul>
      </div>
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Luca Rossetto</li>
          <li><a href="mailto:luca.rossetto@dcu.ie">luca.rossetto@dcu.ie</a></li>
          <li>Dublin City University</li>
        </ul>
      </div>
  </div>

</footer>
